*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header{
    align-items: center;
    text-align: center;
    line-height: 20vh;
    width: 100%;
}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 6vh;
    text-transform: uppercase;
    background-color: rgb(110, 110, 226);
    color: white;
    text-shadow: 0 1px 0 white, 0 2px 0 white, 0 3px 0 white, 0 4px 0 white, 0 30px 5px rgba(0,0,0, 0.1);
}
section{
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(131, 131, 219);
}
.gameArea{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60vh;
    justify-content: center;
    align-items: center;
    padding: 5vh;
    background-color: rgb(220, 235, 198);
    box-shadow: 0 8px 6px -6px black;
}
h3{
    text-align: center;
    font-size: 4vh;
    padding-bottom: 6vh;
}
input{
    width: 40%;
    text-align: center;
    padding: 15px 0;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: rgb(180, 173, 173);
    color: black;
    margin: 2rem 0;
    font-size: 1.1rem;
}
button{
    font-size: 1 rem;
    cursor: pointer;
    border: black;
    padding: 1rem;
    border-radius: 15px;
    /* margin-top: 10px; */
}
button.btn{
    font-weight: 600;
    padding: 1 rem 2rem;
    background: white;
    text-transform: uppercase;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.65, -0.25, 0.25, 1.95);
}
button.btn:hover, button.btn:focus, button.btn:active{
    letter-spacing: 0.125rem;
    word-spacing: 0.2rem;
}
button.btn:active{
    background-color: aqua;
}
.hidden{
    display: none;
}